<a href="https://colab.research.google.com/github/ariana-caetano/data-engineering/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conhecendo o Pandas**

<br>
<br>

<div align="center"><img src="https://media3.giphy.com/media/EatwJZRUIv41G/giphy.gif?cid=ecf05e4770s0ysamjz372xm75linnvsb9um6fnzjc5ckc12a&rid=giphy.gif&ct=g"/>
</div>
<br>
<br>

São animais mamíferos que se destacam, principalmente, pela sua inconfundível pelagem branca com manchas...Brincadeira!! Não vamos falar aqui desse bichinho lindo e fofo.

Pandas é uma biblioteca para análise e manipulação de dados utilizando a linguagem Python.

Nesse exercício vamos conhecer alguns comandos básicos em Pandas.

O primeiro passo para a utilização da biblioteca Pandas, no Colab, é a importação da biblioteca (em outros ambientes talvez você precise instalar a biblioteca antes se começar a utilizá-la)

# Importando a biblioteca

In [ ]:
import pandas as pd

Agora vamos abrir nosso arquivo csv em um dataframe para começarmos a trabalhar com os dados.

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/bc26-bucket-aulas/ocorrencia.csv',sep=';',encoding = 'ISO-8859-1')

df

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,81027,81027,81027,81027,INCIDENTE GRAVE,NaN,NaN,SÃO PAULO,SP,...,09/10/2022,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM
1,81030,81030,81030,81030,81030,INCIDENTE,NaN,NaN,VITÓRIA,ES,...,09/10/2022,16:20:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
2,81023,81023,81023,81023,81023,INCIDENTE GRAVE,NaN,NaN,AMERICANA,SP,...,06/10/2022,15:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM
3,81029,81029,81029,81029,81029,INCIDENTE,NaN,NaN,BELO HORIZONTE,MG,...,06/10/2022,00:44:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,81025,81025,81025,81025,81025,INCIDENTE,NaN,NaN,MANAUS,AM,...,05/10/2022,20:56:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6764,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,...,05/01/2010,19:25:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6765,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,...,04/01/2010,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,SIM,2019-10-28,0,1,NÃO
6766,40211,40211,40211,40211,40211,INCIDENTE,***,***,RIO DE JANEIRO,RJ,...,03/01/2010,12:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6767,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,...,03/01/2010,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6768,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,...,03/01/2010,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

Nosso dataframe possui 22 colunas e 6769 linhas e contém dados de incidentes aeronáuticos, disponibilizados no site dados.gov. Constam nesta base de dados as ocorrências aeronáuticas notificadas ao CENIPA no anos de 2010 a 2022 que ocorreram em solo brasileiro.

Vamos iniciar um tratamento simples em nossos dados conhecer alguns métodos do Pandas.

#### **head() e tail()**

Exibe os primeiros (head) ou últimos (tail) registros do dataframe. Dentro do parênteses você pode especificar a quantidade de linhas que deseja visualizar.

In [ ]:
df.head(2)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,81027,81027,81027,81027,INCIDENTE GRAVE,NaN,NaN,SÃO PAULO,SP,...,09/10/2022,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM
1,81030,81030,81030,81030,81030,INCIDENTE,NaN,NaN,VITÓRIA,ES,...,09/10/2022,16:20:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO

In [ ]:
df.tail(2)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
6767,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,...,03/01/2010,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6768,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,...,03/01/2010,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

#### **shape**

Exibe quantas linhas e colunas existem no dataframe

In [ ]:
df.shape

(6769, 22)

#### **dtypes**

Exibe os tipos de dados das colunas do dataframe, por exemplo: float, int, object, datetime, etc.

In [ ]:
df.dtypes

codigo_ocorrencia                  int64
codigo_ocorrencia1                 int64
codigo_ocorrencia2                 int64
codigo_ocorrencia3                 int64
codigo_ocorrencia4                 int64
ocorrencia_classificacao          object
ocorrencia_latitude               object
ocorrencia_longitude              object
ocorrencia_cidade                 object
ocorrencia_uf                     object
ocorrencia_pais                   object
ocorrencia_aerodromo              object
ocorrencia_dia                    object
ocorrencia_hora                   object
investigacao_aeronave_liberada    object
investigacao_status               object
divulgacao_relatorio_numero       object
divulgacao_relatorio_publicado    object
divulgacao_dia_publicacao         object
total_recomendacoes                int64
total_aeronaves_envolvidas         int64
ocorrencia_saida_pista            object
dtype: object

#### **is_unique, unique(), nunique()**

São comandos que mostram elementos únicos do seu dataframe.

O **is_unique** tem retorno booleano e retorna True quando os elementos de uma coluna são únicos;

In [ ]:
df.codigo_ocorrencia.is_unique

True

O **unique()** retorno quais os elementos que são únicos na coluna

In [ ]:
df.ocorrencia_saida_pista.unique()

array(['SIM', 'NÃO'], dtype=object)

In [ ]:
sorted(pd.unique(df['ocorrencia_saida_pista']))

['NÃO', 'SIM']

O **nunique()** conta os valores distintos das colunas. Isso mostra apenas o número de categorias diferentes presentes em uma coluna de um dataframe.

In [ ]:
df['ocorrencia_saida_pista'].nunique()

2

#### **isnull()**

Verifica em qual linha da coluna exite um valor nulo, retornado True o False para cada uma delas.

In [ ]:
df['ocorrencia_saida_pista'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6764    False
6765    False
6766    False
6767    False
6768    False
Name: ocorrencia_saida_pista, Length: 6769, dtype: bool

#### **isna()**

Exibe a quantidade de valores ausentes em cada coluna

In [ ]:
#consulta valores ausentes
df.isna().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude               1634
ocorrencia_longitude              1634
ocorrencia_cidade                    0
ocorrencia_uf                        0
ocorrencia_pais                      0
ocorrencia_aerodromo                 0
ocorrencia_dia                       0
ocorrencia_hora                      2
investigacao_aeronave_liberada     238
investigacao_status                341
divulgacao_relatorio_numero        782
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         4988
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

#### **count()**

Mostra a quantidade de valores válidos em cada coluna.

In [ ]:
#consulta dados "válidos"
df.count()

codigo_ocorrencia                 6769
codigo_ocorrencia1                6769
codigo_ocorrencia2                6769
codigo_ocorrencia3                6769
codigo_ocorrencia4                6769
ocorrencia_classificacao          6769
ocorrencia_latitude               5135
ocorrencia_longitude              5135
ocorrencia_cidade                 6769
ocorrencia_uf                     6769
ocorrencia_pais                   6769
ocorrencia_aerodromo              6769
ocorrencia_dia                    6769
ocorrencia_hora                   6767
investigacao_aeronave_liberada    6531
investigacao_status               6428
divulgacao_relatorio_numero       5987
divulgacao_relatorio_publicado    6769
divulgacao_dia_publicacao         1781
total_recomendacoes               6769
total_aeronaves_envolvidas        6769
ocorrencia_saida_pista            6769
dtype: int64

#### **info()**
Mostra um resumo das informções do dataframe como: index, lista das colunas, quantidade de valores não nulos, tipo dos dados, uso de memória.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6769 entries, 0 to 6768
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               6769 non-null   int64
 1   codigo_ocorrencia1              6769 non-null   int64
 2   codigo_ocorrencia2              6769 non-null   int64
 3   codigo_ocorrencia3              6769 non-null   int64
 4   codigo_ocorrencia4              6769 non-null   int64
 5   ocorrencia_classificacao        6769 non-null   object
 6   ocorrencia_latitude             5135 non-null   object
 7   ocorrencia_longitude            5135 non-null   object
 8   ocorrencia_cidade               6769 non-null   object
 9   ocorrencia_uf                   6769 non-null   object
 10  ocorrencia_pais                 6769 non-null   object
 11  ocorrencia_aerodromo            6769 non-null   object
 12  ocorrencia_dia                  6769 non-null   object
 13  ocorrencia_hora                 6767 non-null   object
 14  investigacao_aeronave_liberada  6531 non-null   object
 15  investigacao_status             6428 non-null   object
 16  divulgacao_relatorio_numero     5987 non-null   object
 17  divulgacao_relatorio_publicado  6769 non-null   object
 18  divulgacao_dia_publicacao       1781 non-null   object
 19  total_recomendacoes             6769 non-null   int64
 20  total_aeronaves_envolvidas      6769 non-null   int64
 21  ocorrencia_saida_pista          6769 non-null   object
dtypes: int64(7), object(15)
memory usage: 1.1+ MB

## Filtros

O **.loc** é utilizado para busca no seu dataframe

#### **loc**

In [ ]:
#busca uma fatia do dataframe da linha 80 a 100

df.loc[80:100]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
80,80962,80962,80962,80962,80962,INCIDENTE,NaN,NaN,CAMPINAS,SP,...,17/08/2022,10:52:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
81,80922,80922,80922,80922,80922,INCIDENTE GRAVE,-23.928056,-46.299722,GUARUJÁ,SP,...,16/08/2022,13:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
82,80915,80915,80915,80915,80915,INCIDENTE,-16.632500,-49.221111,GOIÂNIA,GO,...,15/08/2022,09:25:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
83,80919,80919,80919,80919,80919,INCIDENTE,-23.47777778,-47.49000000,SOROCABA,SP,...,15/08/2022,11:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
84,80920,80920,80920,80920,80920,ACIDENTE,-22.99666,-43.38805,RIO DE JANEIRO,RJ,...,15/08/2022,18:30:00,NÃO,ATIVA,A-091/CENIPA/2022,NÃO,NaN,0,1,NÃO
85,81008,81008,81008,81008,81008,INCIDENTE,NaN,NaN,GUARULHOS,SP,...,15/08/2022,03:15:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
86,80921,80921,80921,80921,80921,ACIDENTE,-2.48055,-44.24333,SÃO LUÍS,MA,...,14/08/2022,19:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
87,80927,80927,80927,80927,80927,INCIDENTE,-15.65,-56.1175,VÁRZEA GRANDE,MT,...,14/08/2022,21:52:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
88,80928,80928,80928,80928,80928,INCIDENTE,-23.00694444444,-47.13444444444,CAMPINAS,SP,...,14/08/2022,05:11:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
89,80916,80916,80916,80916,80916,INCIDENTE GRAVE,-12.91055,-38.32722,SALVADOR,BA,...,13/08/2022,14:15:00,SIM,ATIVA,IG-090/CENIPA/2022,NÃO,NaN,0,1,SIM
90,80914,80914,80914,80914,80914,INCIDENTE GRAVE,-20.51777778,-47.23666667,FRANCA,SP,...,12/08/2022,10:45:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
91,80917,80917,80917,80917,80917,INCIDENTE GRAVE,-16.632500,-49.221111,GOIÂNIA,GO,...,12/08/2022,20:00:00,SIM,ATIVA,IG-089/CENIPA/2022,NÃO,NaN,0,1,NÃO
92,80964,80964,80964,80964,80964,INCIDENTE,NaN,NaN,PALMAS,TO,...,11/08/2022,05:31:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
93,80908,80908,80908,80908,80908,INCIDENTE,-23.477778,-47.490000,SOROCABA,SP,...,10/08/2022,14:50:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
94,80912,80912,80912,80912,80912,INCIDENTE,-22.81,-43.25055555555,RIO DE JANEIRO,RJ,...,10/08/2022,10:09:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
95,80907,80907,80907,80907,80907,INCIDENTE,-5.36333,-49.13166,MARABÁ,PA,...,09/08/2022,18:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
96,80910,80910,80910,80910,80910,INCIDENTE,-5.43138,-51.02416,SÃO FÉLIX DO XINGU,PA,...,09/08/2022,18:24:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
97,80904,80904,80904,80904,80904,ACIDENTE,-16.623200,-49.351972,GOIÂNIA,GO,...,07/08/2022,14:50:00,SIM,ATIVA,A-088/CENIPA/2022,NÃO,NaN,0,1,SIM
98,80906,80906,80906,80906,80906,INCIDENTE,-8.126388888888,-34.92277777777,RECIFE,PE,...,07/08/2022,00:28:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
99,80902,80902,80902,80902,80902,INCIDENTE,-16.585289,-54.724804,RONDONÓPOLIS,MT,...,06/08/2022,14:45:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
100,80913,80913,80913,80913,80913,INCIDENTE,-23.435556,-46.473056,GUARULHOS,SP,...,06/08/2022,14:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [ ]:
#podemos chamar uma linha pelo seu índice
df.loc[5]

codigo_ocorrencia                    81019
ocorrencia_classificacao          ACIDENTE
ocorrencia_cidade             PORTO ALEGRE
ocorrencia_uf                           RS
ocorrencia_pais                     BRASIL
ocorrencia_aerodromo                   ***
ocorrencia_dia                  03/10/2022
ocorrencia_hora                   20:50:00
total_recomendacoes                      0
total_aeronaves_envolvidas               1
ocorrencia_saida_pista                 NÃO
Name: 5, dtype: object

In [ ]:
#ou com um array de índices
df.loc[[0,1,2]]

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,BRASIL,SBSP,09/10/2022,16:30:00,0,1,SIM
1,81030,INCIDENTE,VITÓRIA,ES,BRASIL,SBVT,09/10/2022,16:20:00,0,1,NÃO
2,81023,INCIDENTE GRAVE,AMERICANA,SP,BRASIL,SDAI,06/10/2022,15:30:00,0,1,SIM

In [ ]:
#passando a linha e a coluna que queremos buscar
df.loc[0,'ocorrencia_cidade']

'SÃO PAULO'

In [ ]:
#sem especificar a linha, apenas a coluna
df.loc[:,'ocorrencia_cidade']

0                SÃO PAULO
1                  VITÓRIA
2                AMERICANA
3           BELO HORIZONTE
4                   MANAUS
               ...
6764               PELOTAS
6765    LUCAS DO RIO VERDE
6766        RIO DE JANEIRO
6767                 BELÉM
6768        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 6769, dtype: object

In [ ]:
#podemos usar para atribuir um novo valor para uma linha
df.loc[0,'ocorrencia_cidade'] = 'SÃO PAULO'

In [ ]:
#criando um filtro dos estados que estão preenchidos como nulos
filtrouf = df.ocorrencia_uf.isna()

#criando um filtro dos horários que estão preenchidos como nulos
filtrohorario = df.ocorrencia_hora.isna()

In [ ]:
#usando o loc com os filtros criados
df.loc[filtrouf]

Empty DataFrame
Columns: [codigo_ocorrencia, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_pais, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, total_recomendacoes, total_aeronaves_envolvidas, ocorrencia_saida_pista]
Index: []

In [ ]:
df.loc[filtrohorario]

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
56,80938,INCIDENTE,MARABÁ,PA,BRASIL,SBMA,29/08/2022,NaN,0,1,NÃO
2671,78823,INCIDENTE,CORUMBÁ,MS,BRASIL,**NI,09/07/2017,NaN,0,1,NÃO

## Mais comandos

#### **copy()**

Faz uma cópia do dataframe

In [ ]:
#backup do dataframe original
dfback = df.copy()

#### **drop()**

Deletar colunas do dataframe

In [ ]:
#Dropagem das colunas que tinham dados repetidos
df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)

In [ ]:
#Drop de colunas que não serão utilizadas
df.drop(['ocorrencia_latitude','ocorrencia_longitude','investigacao_aeronave_liberada','investigacao_status','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)